 /* Footer */
 .footer-cols{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
  }
 .footer-cols ul{
    list-style: none;
  }
  
 .footer-cols ul li:first-child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
  }
 .footer-bottom{
    background: #333;
    padding: 1rem;
  }
    