/*==================================================
 *  APP CSS
 * ===============================================*/

/*==================================================
 *  Font used
 * ===============================================*/

/* font-family: 'Libre Baskerville', serif;
font-family: 'EB Garamond', serif; */


/*==================================================
 *  General
 * ===============================================*/
.App {
  text-align: center; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Libre Baskerville', serif;
}

.red {
  color: red;
}

.red-border {
  box-shadow: 1px 1px 3px #CC0000
}

/*==================================================
 *  Navigation
 * ===============================================*/
.muses-primary-text {
  color:#7986E8;
}
.muses-secondary-text {
  color:#E5BC54;
}
.muses-tertiary-text {
  color:#DE148C;
}

.navbar-light .navbar-nav .nav-link {
  color:#DE148C;
}
.muses-dashboard{
  background-color: #000000;
  color:#9e9e9e;
}
/*==================================================
 *  logo
 * ===============================================*/
.logo{
  border: 2px solid #7986E8;
  background: white;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
/*==================================================
 *  bg
 * ===============================================*/
 .bg{
  border: 2px solid #7986E8;
  background: white;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
/*==================================================
 * Shadow Effect 
 * ===============================================*/
 .effect
 {
     position:relative;
     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
             box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }
 .effect:before, .effect:after
 {
     content:"";
     position:absolute;
     z-index:-1;
     -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
     -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
     box-shadow:0 0 20px rgba(0,0,0,0.8);
     top:0;
     bottom:0;
     left:10px;
     right:10px;
     -moz-border-radius:100px / 10px;
     border-radius:100px / 10px;
 }
 .effect:after
 {
     right:10px;
     left:auto;
     -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
         -ms-transform:skew(8deg) rotate(3deg);
          -o-transform:skew(8deg) rotate(3deg);
             transform:skew(8deg) rotate(3deg);
 }
/*==================================================
 *  Token
 * ===============================================*/
.token p{
  color: #7986E8;
  font-family: 'EB Garamond', serif;
 
}
/*==================================================
 *  Button
 * ===============================================*/
 .muses-primary {
  background:#7986E8;
}
.muses-secondary {
  background:#E5BC54;
}
.muses-tertiary {
  background:#DE148C;
}

/*==================================================
 * Testimonial
 * ===============================================*/
  .testimonial h2 {
	color: #DE148C;
	text-align: center;
	text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	position: relative;
	margin: 25px 0 50px;
}
.testimonial h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #E5BC54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel {
	width: 100%;
	margin: 0 auto;
	/* padding-bottom: 30px; */
}

.carousel .img-box {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	 width: 100%;
	height: 100%;
	display: block;
  border-radius: 50%;
}
.carousel .testimonial {	
  padding: 30px 0 10px;
  color:#333;
}
.carousel .overview {	
	text-align: center;
  padding-bottom: 5px;
  margin-bottom: 30px;
  /* color:#DE148C; */
}

.carousel .overview b {
	color: #E5BC54;
	font-size: 1.5rem;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
} 
.carousel .overview span {
  color: #DE148C;	
  font-size: 1rem;
} 


/*==================================================
 * Footer
 * ===============================================*/


.footer-header{
  color:#DE148C;
  margin-top: 20px;
}
.footer-bottom{
  background: #F8F9FA;
  padding: 1rem;
  /* color: #CA4590; */
  color:#DE148C;
}
.footer__mailto {
  color: #DE148C;
  text-decoration: underline;
}
/*==================================================
 * User Thumbnail
 * ===============================================*/

.user_thumbnail_container {
  /* border: #333 dotted 1px; */
  /* height: 32px;
  width:32px; */
  padding: 8px;
  background-color: #ffdc12;
  border-radius: 20px;
}

.profile_thumb {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 4px;
  margin-bottom: 6px;
  margin-top: 2px;
}

.user_thumb {
  padding-top: 4px;
  font-size: 12px;
  font-weight: bold
}


/*==================================================
 * Event List
 * ===============================================*/

.event-container {
  border-bottom: 1px dotted #596677;
  margin: 30px 0 60px;
}

@media only screen and (max-width: 400px) {
  .event-container__header {
      font-size: medium;
  }
}

.chapter{
  display: inline-block;
  background: #E5BC54;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 10px;

}
.more-info{
  display: inline-block;
}
.sponsor {
  margin: 15px 5px 0 5px;
  max-width: 120px;
  max-height: 50px;
  float: right;
}

.time {
  font-weight: 400;
  display: block;
  font-size: 1.3rem;
  margin-top: 10px;
  float: right;
}

.event-container__header {
  color: #DA3296;
  display: inline-block;
  padding: 0 0.25em;
}

@media only screen and (min-width: 993px) {
  .flow-text {
      font-size: 1.3rem;
  }
}

a.green-text,
a.grey-text {
  border-bottom: 1px dashed #7985F0;
}

.inline-clock-icon {
  fill: #9e9e9e;
  top: 2px;
  position: relative;
}

.inline-clock-icon svg {
  height: 16px;
  width: 16px;
}

.header {
  color: #DA3296;
  font-family: Didot;
}

.header.light, .header.time {
  color: #7985F0;
}
.title span{
  color: #9E9E9E;
}
.eventImage{
  width: 100%;
  height: 50%;
}
/*==================================================
 * Icon
 * ===============================================*/

 .icon{
   color:#7985F0;
 }
 .github{
  color: #000000;
  border-color: transparent;  
   opacity: 0.7;
 }
 .github:hover{
  color: #000000;
  border-color: transparent;  
   opacity:1;
 }
 .twitter{
  color: #0077B5;
  border-color: transparent;
  opacity: 0.7;
 }
 .twitter:hover{
  color: #0077B5;
  border-color: transparent;
  opacity: 1;
 }
 .instagram{
  color: #E24169;
  border-color: transparent;  
  opacity: 0.7;
 }
 .instagram:hover{
  color: #E24169;
  border-color: transparent;  
  opacity: 1;
 }
 .gmail{
  color: #dd4b39;
  border-color: transparent;  
  opacity: 0.7;
 }
 .gmail:hover{
  color: #dd4b39;
  border-color: transparent;  
  opacity: 1;
 }
 .meetup{
  color: #e0393e;
  border-color: transparent;  
  opacity: 0.7;
 }
 .meetup:hover{
  color: #e0393e;
  border-color: transparent;  
  opacity: 1;
 }
  /*==================================================
 * Sponsor Card
 * ===============================================*/

 .sponsor-card{
   margin: 20px 5px 10px 5px;
 }

 /*==================================================
 * Mailing list
 * ===============================================*/

.mailing-list{
  margin: 20px;
}
/*==================================================
 * News
 * ===============================================*/

.news-container {
  border: #333 dotted 1px
}

.news-image {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-right: 52px;
}

.news-content {
  display: inline-block;
}

/*==================================================
 * Dashboard
 * ===============================================*/

 .dashboard ul {
   list-style: none;
 }
 .dashboard ul li{
   margin: 10px;
 }
 .dashboard ul li{
  margin: 10px;
 
}
 .dashboard ul li a:hover{
  text-decoration:none;
  opacity: 1;
 }
 .dashboard ul li a{
    color:#DA3296;
    opacity:0.7;
 }
 .dashboard{
  color:#DA3296;
  opacity:0.7;
}
.dashboard:hover{
  text-decoration:none;
  opacity: 1;
 }

 /*==================================================
 * CSS Ends
 * ===============================================*/

