/*==================================================
 *  APP CSS
 * ===============================================*/

/*==================================================
 *  Font used
 * ===============================================*/

/* font-family: 'Libre Baskerville', serif;
font-family: 'EB Garamond', serif; */


/*==================================================
 *  General
 * ===============================================*/
.App {
  text-align: center; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Libre Baskerville', serif;
}


/*==================================================
 *  Navigation
 * ===============================================*/
.muses-primary-text {
  color:#7986E8;
}
.muses-secondary-text {
  color:#E5BC54;
}
.muses-tertiary-text {
  color:#7986E8;
}

.navbar-light .navbar-nav .nav-link {
  color:#DE148C;
}
/*==================================================
 *  logo
 * ===============================================*/
.logo{
  border: 2px solid #7986E8;
  background: white;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
/*==================================================
 * Shadow Effect for logo
 * ===============================================*/
 .effect
 {
     position:relative;
     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
             box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }
 .effect:before, .effect:after
 {
     content:"";
     position:absolute;
     z-index:-1;
     -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
     -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
     box-shadow:0 0 20px rgba(0,0,0,0.8);
     top:0;
     bottom:0;
     left:10px;
     right:10px;
     -moz-border-radius:100px / 10px;
     border-radius:100px / 10px;
 }
 .effect:after
 {
     right:10px;
     left:auto;
     -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
         -ms-transform:skew(8deg) rotate(3deg);
          -o-transform:skew(8deg) rotate(3deg);
             transform:skew(8deg) rotate(3deg);
 }
/*==================================================
 *  Token
 * ===============================================*/
.token p{
  color: #7986E8;
  font-family: 'EB Garamond', serif;
 
}


/*==================================================
 *  Button
 * ===============================================*/
 .muses-primary {
  background:#7986E8;
}
.muses-secondary {
  background:#E5BC54;
}
.muses-tertiary {
  background:#DE148C;
}

 /*==================================================
 * Footer
 * ===============================================*/
 .footer-cols{
  background: #F8F9FA;
  color:#7986E8;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}
.footer-cols ul{
  list-style: none;
 
}
.footer-cols ul li a{
  color:#7986E8;
}

.footer-cols ul li:first-child{
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom:  #7986E8 solid 1px;
  margin-bottom: 1rem;
}
.footer-bottom{
  background: #E5BC54;
  padding: 1rem;
  /* color: #CA4590; */
  color:#DE148C;
}


/*==================================================
 * CSS Ends
 * ===============================================*/
  